.ui-growl {
    z-index: 9999 !important;
}
.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bgExpansion {
    background-color: #999;
}

.bgExpansion2 {
    background-color: #f2eaea;
}

.dtServidores{

}
.ui-picklist .ui-picklist-list {
    height: 300px;
    margin: 0;
    overflow: auto;
    padding: 0;
}

/*.ui-selectonemenu .ui-selectonemenu-trigger {
     border-right:0; 
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 30px !important;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px
}*/

.ui-selectonemenu {
    display: inline-block;
    position: relative;
    height: 37.99px;
    width: auto;
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    cursor: pointer;
    padding-right: 0px;
    vertical-align: top;
    padding-left: 2px;
    padding-bottom:0px;
}

.estado-Iniciado {
  background-color: orange;
  color: white;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
} 
    
/*No iniciado*/
.estado-No {
  background-color: plum;
  color: white;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
} 

/*En curso*/
.estado-En {
  background-color: yellowgreen;
  color: white;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
} 

.estado-Cancelado {
  background-color: #999;
  color: white;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
} 

.estado-Finalizado {
  background-color: limegreen;
  color: white;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
} 

/*Con retraso*/
.estado-Con {
  background-color: tomato;
  color: white;
  padding: 5px;
  width: 100px;
  border-radius: 20px;
}
